@model AppAcademico.Models.Eval

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ingresar Evaluación</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nota</label>
                <input asp-for="nota" class="form-control" />
                <span asp-validation-for="nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="IdCurso" class="control-label"></label>
        <input asp-for="IdCurso" class="form-control" />
        <span asp-validation-for="IdCurso" class="text-danger"></span>*@

                Curso
                @Html.DropDownListFor(m => m.IdCurso, (IEnumerable<SelectListItem>)ViewBag.cursoLista, "Seleccione el curso", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCurso, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary  btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" >Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
