@model AppAcademico.Models.CursosAsignados

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CursosAsignados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Curso
                @Html.DropDownListFor(m => m.IdCurso, (IEnumerable<SelectListItem>)ViewBag.cursoLista, "Seleccione el curso", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCurso, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group">
                <label asp-for="NombreCurso" class="control-label"></label>
                <input asp-for="NombreCurso" class="form-control" />
                <span asp-validation-for="NombreCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="IdCursosAsignados" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
